:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #060b0f;
  color: #f6f6f6;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 3px;
  border: 1px solid #3e3e3e;
  padding: 4px 7px;
  font-family: inherit;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(0deg, #5175f6, #e9e8e8 25% 75%, #5175f6);
  cursor: pointer;
}
button:hover,
button:focus {
  background: linear-gradient(0deg, #5951f6, #cfb68c 25% 75%, #5951f6);
}
